body {
    background-color: #e8e8e8;
}

/* ALERT */

.s-alert-box {
    z-index: 1050;
}

/*  */

.rbc-toolbar .rbc-toolbar-label {
  font-weight: bold;
}

.rbc-toolbar button {
  font-size: small;
}

/* DATE PICKER */

.react-datepicker {
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}
#modalCita > div > div > form > div.modal-body > div > div:nth-child(1) > div > div > input {
  width: 100px;
}

/* TIME PICKER */ 

.rc-time-picker-input {
    width: 100px;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.rc-time-picker-panel {
    width: 115px;
}
.rc-time-picker-panel-inner {
    font-size: 14px;
}
.rc-time-picker-panel-select {
    width: 57px;
    font-size: 14px;
}

.has-error .Select-control {
  border: 1px solid #a94442;
}

/* BIG CALENDAR */

div.rbc-time-header.rbc-overflowing > div:nth-child(2) {
  display: none;
}

#app > div > div > div:nth-child(1) > div > div.container-fluid > div > div > div > div.rbc-time-view > div.rbc-time-header > div:nth-child(2) {
  display: none;
}

.rbc-time-header > .rbc-row:first-child {
  border-bottom: 0;
}

.rbc-time-content {
  border-top: 1px solid #DDD;
}

.rbc-toolbar button {
  font-weight: bold;
}

#caja-component input.form-control {
  width: 90px;
  height: 25px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  padding: 6px 6px;
}

#modalFactura input::-webkit-outer-spin-button,
#modalFactura input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.currencyinput {
  border: 1px inset #ccc;
}
.currencyinput input {
  border: 0;
}

.btn-link:focus, .btn-link:active:focus {
  outline: none;
}

#profile-button-toolbar.btn-toolbar .btn-group-link {
  float: none;
}