.Caja-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
}

.Caja-col-date-picker {
    padding-left: 0;
}

.Caja-col-add {
    padding-right: 0;
}

.Caja-alert {
    font-style: italic;
    text-align: center;
    background-color: transparent;
    background-image: none;
    border: none;
}

.Caja-facturas-list {
    padding-left: 0;
    padding-right: 0;
}

.Caja-button {
    padding: 1px 8px;
}

.Caja-glyphicon {
    top: 2px;
}