.FacturaTable {
    margin-bottom: 0;
}

.FacturaTable-tr {
    cursor: pointer;
}

.FacturaTable-td-nombre {
    width: 70%;
}

.FacturaTable-td-fecha {
    width: 15%;
}

.FacturaTable-td-precio {
    width: 15%;
    text-align: right;
}