.FacturaModal-col {
    padding-left: 2px;
    padding-right: 2px;
}

.FacturaModal-number {
    text-align: right;
}

.FacturaModal-row-total {
    display: flex;
    padding: 0px 5px 0px 5px;
}

.FacturaModal-currency {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 6px;
}