.ForgotPassword-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.ForgotPassword-message {
    text-align: center;
    font-size: 13px;
    margin-bottom: 15px;
}

.ForgotPassword-button {
    width: 100%;
}

.ForgotPassword-login {
    margin-top: 10px;
}

.ForgotPassword-button-link {
    padding: 3px 6px;
}